:root {
  --xue-white: #ffffff;
  --xue-black: #000000;
  --xue-primary: #336aff;
  --xue-primary-hover: #5c88ff;
  --xue-primary-pressed: #2955cc;
  --xue-primary-disabled: #adc3ff;
  --xue-primary-subtle: #d6e1ff;
  --xue-success: #00c27b;
  --xue-success-hover: #33ce95;
  --xue-success-pressed: #009b62;
  --xue-success-disabled: #99e7ca;
  --xue-success-subtle: #ccf3e5;
  --xue-warning: #ffb21a;
  --xue-warning-hover: #ffc147;
  --xue-warning-pressed: #cc8e14;
  --xue-warning-disabled: #ffe0a3;
  --xue-warning-subtle: #ffecc6;
  --xue-danger: #ff4c4c;
  --xue-danger-hover: #ff7070;
  --xue-danger-pressed: #cc3d3d;
  --xue-danger-disabled: #ffb7b7;
  --xue-danger-subtle: #ffdbdb;
  --xue-text-primary: #0f1114;
  --xue-text-secondary: #565d66;
  --xue-text-tertiary: #969ca3;
  --xue-text-disabled: #c3c7cc;
  --xue-text-neutral: #000000e0;
  --xue-text-hint: #969ca3;
  --xue-border: #dadce0;
  --xue-border-focus: #336aff;
  --xue-divider: #e6e7eb;
  --xue-surface: #f2f3f5;
  --xue-surface-light: #f7f8fa;
  --xue-sidebar-start: #eaf9ff;
  --xue-sidebar-end: #f0f4fc;
  --xue-hover-mask: rgb(0 0 0 / 8%);
  --xue-subtle-mask: rgb(0 0 0 / 12%);
  --xue-scrollbar-mask: rgb(0 0 0 / 20%);
  --xue-shadow-color: rgb(0 0 0 / 8%);
  --xue-shadow-offset-x: 0;
  --xue-shadow-offset-y: 2px;
  --xue-shadow-radius: 22px;
  --xue-shadow-spread: 0;
  --xue-shadow-card: 0 2px 22px rgb(0 0 0 / 8%);
  --xue-stroke-divider: 1px;
  --xue-radius-4: 4px;
  --xue-radius-5: 5px;
  --xue-radius-6: 6px;
  --xue-radius-8: 8px;
  --xue-radius-12: 12px;
  --xue-control-xs: 20px;
  --xue-control-sm: 24px;
  --xue-control-md: 28px;
  --xue-control-base: 32px;
  --xue-control-lg: 36px;
  --xue-padding-0: 0;
  --xue-padding-2: 2px;
  --xue-padding-4: 4px;
  --xue-padding-6: 6px;
  --xue-padding-8: 8px;
  --xue-padding-10: 10px;
  --xue-padding-12: 12px;
  --xue-padding-16: 16px;
  --xue-padding-20: 20px;
  --xue-padding-24: 24px;
  --xue-padding-32: 32px;
  --xue-page-width: 1512px;
  --xue-page-height: 982px;
  --xue-sidebar-width: 180px;
  --xue-sidebar-collapsed-width: 72px;
  --xue-page-header-height: 56px;
  --xue-font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  --xue-number-font-family: "Helvetica", Arial, sans-serif;
  --xue-font-size-12: 12px;
  --xue-font-size-14: 14px;
  --xue-font-size-16: 16px;
  --xue-font-size-20: 20px;
  --xue-font-weight-regular: 400;
  --xue-font-weight-medium: 500;
  --xue-font-weight-bold: 700;
  --xue-line-height-12: 16px;
  --xue-line-height-14: 20px;
  --xue-line-height-16: 22px;
  --xue-line-height-20: 28px;
}
